<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="navis">

  <!-- Properties -->
  <xacro:property name="chassis_mesh" value="package://navis_description/meshes/x2_chassis.dae"/>
  <xacro:property name="chassis_mass" value="20.0"/> <!-- in kg -->
  <xacro:property name="chassis_size_x" value="0.6"/>
  <xacro:property name="chassis_size_y" value="0.5"/>
  <xacro:property name="chassis_size_z" value="0.25"/>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${chassis_mesh}" scale="1 1 1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${chassis_size_x} ${chassis_size_y} ${chassis_size_z}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${chassis_mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

</robot>